JOTFORM_API_KEY=
JOTFORM_FORM_ID=233391657291361
JOTFORM_API_BASE=
JOTFORM_TEAM_ID=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_ALLOWED_EMAIL=
GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/google/callback
GOOGLE_SHEET_ID=
JOTFORM_VOTE_FIELD_1=
JOTFORM_VOTE_FIELD_2=
JOTFORM_VOTE_FIELD_3=
JOTFORM_VOTE_FIELD_4=
JOTFORM_VOTE_FIELD_5=
JOTFORM_VOTE_FIELD_6=
